 /* Style the buttons that are used to open and close the accordion panel */
.accordion > button:first-child {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active > button:first-child, .accordion > button:first-child:hover {
  background-color: #ccc;
}

.accordion > button:first-child:before {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: left;
  margin-right: 5px;
}

.accordion.active > button:first-child:before {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion > :first-child ~ * {
  padding-left: 3em;
  display: none;
}

.accordion.active > :first-child ~ * {
  display: block;
}