/* (not cheese) */

* {
    font-family: sans-serif;
    color: #00ff00;
    background: #333333;
}

#factorio-thing b, .factorio-thing i {
    color: #e69100;
}

#factorio-thing span.highlight {
    color: #e69100;
}

div.image-container {
    border: #e0dbff 10px solid;
    padding: 10px;
    margin: 10px;
    width: min-content;
    align-content: center;
    text-align: center;
}

a {
    color: #ffd700;
    font-weight: 1000;
}

#collectible-box {
    text-align: center;
}

#cheese-button {
    background: green;
}

#cheesed {
    color: #ffa314;
}

.chat-message {
    white-space: break-spaces;
}

.bold {
    font-weight: bold;
}

.choice-1 {
    font-weight: bold;
    color: #17fdff;
}

.choice-2 {
    font-weight: bold;
    color: #17fdff;
    position: relative;
}

.choice-2 > :first-child {
    font-weight: default;
    color: default;
    position: absolute;
    display: none;
}

.choice-2:hover > :first-child {
    display: block;
    top: 1em;
    left: 0;
}

#characters {
    background: white;
    position: relative;
}

#characters * {
    position: absolute;
    background: none;
}

.flipped * {
    transform: scaleX(-1);
}

.discord-colored {
    color: #5865f2;
}

#guestbook {
    height: 300px;
    width: 500px;
    border: 5px solid;
    border-color: #a4d6db;
    border-radius: 15px;
    background: #040077;
    overflow: auto;
}

.guestbook-entry {
    margin: 5px;
    border: #c68f0d 4px solid;
    border-radius: 5px;
    background: #f8ff19;
    padding: 5px;
    padding-bottom: 6px;
}

.guestbook-name {
    background: none;
    color: #df340d;
    font-weight: bold;
    font-size: 1.2em;
}

.guestbook-message {
    background: #fbc800;
    color: #730cdb;
    font-size: 1.1em;
    padding: 10px;
    margin: 5px;
}

#guestbook-refresh {
    float: right;
    position: absolute;
    bottom: 100%;
    right: 0;
    margin: 10px;
}

.disabled-link {
    color: #999;
    text-decoration: underline;
}

@keyframes a {
  0% {
    transform: translateY(-0.5em);
  }

  50% {
    transform: translateY(0.5em);
  }

  100% {
    transform: translateY(-0.5em);
  }
}

.wiggle {
  animation: 2s ease-in-out infinite a;
  display: inline-block;
}
